body { font-family:devanagari, 'Mukta', sans-serif; margin: 20px;}
h2 { margin-top: 10px; color: darkgreen; text-align: center; }
h1{ text-align: center; color: darkblue; }
/* Container for all categories */
#lists {
  display: grid;
 /* grid-template-columns: repeat(3, 1fr);  3 tables in a row */
  gap: 20px;
}

/* Each category box */
.category {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background: #f9f9f9;
}

table { width: 100%; border-collapse: collapse; margin-top: 10px;  overflow-x: auto; white-space: nowrap; }
th, td { border: 1px solid #ccc; padding: 6px; text-align: center; font-size: 14px; }
input[type="number"] { width: 70px; padding: 5px; }
select { padding: 5px; }
button { padding: 10px 15px; margin-top: 15px; }

/* Container for all lists */
#lists {
  display: grid;
  /*grid-template-columns: repeat(4, 1fr); 3 tables in one row*/
  gap: 20px;
 
}



#save-img { 
  background-color: green; 
  color: white; 
  display: block;
    margin: 20px auto; /* centers horizontally */
    padding: 10px 20px;
    font-size: 16px;
}
#save-img:hover {
  background: darkgreen;
}

.error {
  border: 2px solid black  !important;
  background-color: red ;

}
#refresh {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  background: orange  ;
  border: 1px solid #aaa;
  cursor: pointer;
}
#refresh:hover {
  background: darkorange;
}
